<%= form_for(@option) do |f| %>
    <% if session[:errors] %>
        <p class="alert alert-error">Ooops! Please correct the following: 
        <ul>
          <% session[:errors].each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul> 
      </p>
      <% session[:errors] = nil %>
    <% end %>
    
    <!-- start_time -->
    <div class="form-group">
      <%= f.label :calender_start_time %><br>
      <%= f.select(:calender_start_time, ("00".."24"), {}, {:class => "form-control"}) %>
    </div>
    <!-- end time -->
    <div class="form-group">
      <%= f.label :calender_end_time %><br>
      <%= f.select(:calender_end_time, [["01", "00"], ["02", "01"], ["03", "02"], ["04", "03"], ["05", "04"], ["06", "05"], ["07", "06"], ["08", "07"], ["09", "08"], ["10", "09"], ["11", "10"], ["12", "11"], ["13", "12"], ["14", "13"], ["15", "14"], ["16", "15"], ["17", "16"], ["18", "17"], ["19", "18"], ["20", "19"], ["21", "20"], ["22", "21"], ["23", "22"], ["24", "23"]], {}, {:class => "form-control"}) %>
    </div>
    <hr>
    <div class="actions">
      <%= f.submit "Update Settings", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>