<%= form_for(@event) do |f| %>
  <% if session[:errors] %>
      <p class="alert alert-error">Ooops! Please correct the following: 
      <ul>
        <% session[:errors].each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul> 
    </p>
    <% session[:errors] = nil %>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>