<div class="row">
	<div class="col-xs-12 text-right day_icons">
		<%= link_to edit_option_path(current_user.option.id) do %>
			<%= image_tag('settings.png') %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div id="my_calender">
			<div class="calender_controls text-center">
				<h4>
					<%= link_to start_date: @start_date.prev_month do %>
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<% end %>
					<%= @start_date.strftime("%b %Y") %>
					<%= link_to start_date: @start_date.next_month do %>
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<% end %>
				</h4>	
			</div>
			<%= calender(@start_date, @events_by_date) %>
		</div>
	</div>
	<div class="col-md-4">
		<div id="info_tab">
			<div class="heading text-center">
				<h3><%= current_user.first_name.capitalize + " " + current_user.last_name.capitalize %></h3>
				<h4><%= format_date(Date.today) %></h4>
			</div>
			<hr>
			<div class="text-center">
				<p id="txt"></p>
				<hr>
				<p>You have <%= pluralize(@todays_events.count, 'appointment') %> today.</p>
			</div>
		</div>
	</div>
</div>
<!-- Clock js -->
<script>
	$(document).ready(function() {
    function startTime() {
	    var today = new Date();
	    var h = today.getHours();
	    var m = today.getMinutes();
	    var s = today.getSeconds();
	    m = checkTime(m);
	    s = checkTime(s);
	    $('#txt').html(h + ":" + m);
	    if ( h < 12 ) {
	    	$('#txt').append(" AM");
	    } else {			
	    	$('#txt').append(" PM");
	    }
	    var t = setTimeout(startTime, 500);
    }

    function checkTime(i) {
    	if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    	return i;
    }
    
    startTime();
	});
</script>