<div>
  <h3>Edit Appointment</h3>
  <hr>
  <%= form_for(@event) do |f| %>
    <% if session[:errors] %>
        <p class="alert alert-error">Ooops! Please correct the following: 
        <ul>
          <% session[:errors].each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
        </ul> 
      </p>
      <% session[:errors] = nil %>
    <% end %>
    <div class="form-group">
      <%= f.label :date %><br>
      <% if session[:errors] %>
        <%= f.text_field :date, class: "form-control", id: "date_field", :value => session[:date] %>
      <% else %>
        <%= f.text_field :date, class: "form-control", id: "date_field" %>
      <% end %>
    </div>
    <!-- description -->
    <div class="form-group">
      <%= f.label :description %><br>
      <% if session[:errors] %>
        <%= f.text_area :description, class: "form-control", :value => session[:description] %>
      <% else %>
        <%= f.text_area :description, class: "form-control" %>
      <% end %>
    </div>
    <!-- Colour select -->
    <div class="form-group">
      <!-- will need changing when categories introduced -->
      <% if session[:errors] %>
        <%= f.select(:colour, [['Green', 'green_filler'], ['Red', 'red_filler'], ['Yellow', 'yellow_filler']], {}, {:class => "form-control"}) %>
      <% else %>
        <%= f.select(:colour, [['Green', 'green_filler'], ['Red', 'red_filler'], ['Yellow', 'yellow_filler']], {}, {:class => "form-control"}) %>
      <% end %>
    </div>
     <!-- Location -->
    <div class="form-group">
      <%= f.label :location %>
      <% if session[:errors] %>
        <%= f.text_field :location, class: "form-control", :value => session[:location] %>
      <% else %>
        <%= f.text_field :location, class: "form-control" %>
      <% end %>
    </div>
    <!-- notes -->
    <div class="form-group">
      <%= f.label :notes %>
      <% if session[:errors] %>
        <%= f.text_area :notes, class: "form-control", :rows => 3, :value => session[:notes] %>
      <% else %>
        <%= f.text_area :notes, class: "form-control", :rows => 3 %>
      <% end %>
    </div>
    <!-- start time using clock picker -->
    <div class="form-group">
      <%= f.label :start_time %><br>
      <div class="input-group clockpicker">
        <% if session[:errors] %>
          <%= f.text_field :start_time, :class => "form-control", :value => session[:start_time] %>
        <% else %>
          <%= f.text_field :start_time, :class => "form-control", :value =>"09:00" %>
        <% end %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <!-- end time using clock picker -->
    <div class="form-group">
      <%= f.label :end_time %><br>
      <div class="input-group clockpicker">
        <% if session[:errors] %>
          <%= f.text_field :end_time, :class => "form-control", :value => session[:end_time] %>
        <% else %>
          <%= f.text_field :end_time, :class => "form-control", :value =>"10:00" %>
        <% end %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <!-- submit -->
    <div class="actions">
      <%= f.submit "Submit changes", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>